.verticalContainer img{
width:100px;
height: auto;
}
.verticalContainer{
    flex-direction: row;
    align-items: center;
}
.verticalContainer>h4{
    text-align: justify;
    margin: 25px;
    text-decoration: none;
}
